@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
    font-family: Outfit;
}


@source "../views";
/**
* You may need to modify these paths to the real path relative
* to this CSS file.
*/
@source "../resources/**/*.blade.php";
/**
* You may not need the following directive if the JS files are
* processed in Vite.
*/
@source "../resources/**/*.js";

@theme {
    --color-primary: #5f6FFF;
    --grid-template-columns-auto: repeat(auto-fill, minmax(250px, 1fr));

}

.active hr {
    @apply block
}

::-webkit-scrollbar {
    @apply hidden
}